
/* https://coolors.co/7f14f1-5866d6-30b7bb-f8d430-f59f50-f16a6f-ea00ad-f6f9fe */

/*.bottomMain {
    background: linear-gradient(to right, #3204fdba, #9907facc), url(https://picsum.photos/1280/853/?random=1) no-repeat top center;
}*/
body {
    background-color: #dbc0bb;
    font-family: 'Fahkwang', sans-serif;
}
a:link {
    text-decoration: none;
    color: #547487;
}
a:hover {
    text-decoration: underline;
}

a:visited {
    color: #88a096;
}
.topNav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 25px;
}
.icon {
    display: none;
}
.topNavLinks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-transform: uppercase;
}
 .containOther {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
font-size: 40px;
text-transform: uppercase;
background-color: #88a096;
color: #dbc0bb;
padding: 10px 20px 0 20px;
margin-bottom: 15px;
}

h3 {
    background-color: #547487;
    color:#dbc0bb;
    font-size: 30px;
}

p {
    color: #547487;
    font-size: 15px;
}


button {
   /* border-radius:0.2em;
    display:inline-block;*/
    padding:0.1em .7em;
    /*text-transform: uppercase;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
   /* text-decoration:none;*/
    color:#dbc0bb;
    background-color:#88a096;
   /* box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);*/
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    /*text-align:center;*/
    /*position:relative;*/
    font-size: 175%;
        }
 button:hover, a:hover {
     cursor: pointer;

        }

       /* a.button7:active{
         box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
        }
        @media all and (max-width:30em){
         a.button7{
          display:block;
          margin:0.4em auto;
         }
        }
}
*/

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}

.bottomNav {
    display: flex;
    justify-content: flex-start;
    height: 120px;  
}

@media (max-width: 1024px) {
   
    .topNav {
        height: 150px;
    }
    h2 {
        font-size: 45px;
     }
    h3 {
        font-size: 30px;
    }
    
    p {
        font-size: 25px;
    }

   
    .bottomNav {
        height: 75px;
        justify-content: center;
        align-items: center;
        align-content: center; 
        /* margin-right: 1em; */
    }

    ul {
        padding: 0 10px;
    }
}

@media (max-width: 699px) {
    h2 {
        margin-top: 30px;
    }
    .imgBox {
        padding: 0 15px;
    }
    .topNav {
        /* overflow: hidden; */
        position: relative;
        height: auto;
    }
    .topNav #topNavLinks {
        display: none;
    }
    .topNav a {  
        color: #547487;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topNav a.icon {
        background: #887880;
        display: block;
        right: 0;
        top: 0;
        padding: 0 5px;
        margin-bottom: 5px;
    }
   
    .bars {
        width: 30px;
        height: 3px;
        background-color: #dbc0bb;
        margin: 6px 0;
    }
   
   

}

