
.logoPic {
    height: 45px;
    width: 45px;
    object-fit: cover;
}
.logo {
    display: flex;
    margin-bottom: 5px;
}
.logoName {
    font-size: 45px;
    color: #88a096;
}
 
main { 
    display: flex;
    flex-direction: column;
}
.topMain {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    max-height: 600px;
}
.topMain {
    
    /* background-image:url("./hairSalonPics/element5-digital-3bj1fSbxxe4-unsplash.jpg"); */
    background-image: url("./hairSalonPics/gaelle-marcel-yO9ZVNFbpao-unsplash.jpg");
    background-size: 100%;
}

.rightTopMain {
    grid-row: 1/-1;
    grid-column: 2/-1;
    margin-right: 50px;
    min-width: 390px;
    margin: 30px  50px 30px 0;
   
    /* position: absolute; 
    width: 307px;
    display: block;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%,-50%);*/
}

h2 {
    color: #547487;
    background-color: #dbc0bb;
}
.aboutParagraph {
    font-size: 30px;
    color: #dbc0bb;
    background-color: #547487;
    display: inline-block;
    padding: 5px 10px 0 10px;
}

.buttonJar {
    display: flex;
    justify-content: center;
}

.moreButton {
    height: 50px;
    width: 100px; 
    margin-top: 50px;
}

.bottomMain {
    display: flex; 
    justify-content: space-evenly;
    margin-top: 50px;
    height: 100%;
}

.imgBox {
    /* width: 356.5px; */
    width: 30%; 
    text-align: center;
    margin: 20px;
}


.cutLink:hover {

    color: #887880;
}

/*header {
    height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. } */
    /*background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("./hairSalonPics/squarecactus.png");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("./hairSalonPics/squarecactus.png"); /* The least supported option. 
img {
   object-fit: cover;
}*/


@media (max-width: 1024px) {
    .topMain {
        background-size: cover;
    }
    
    .buttonJar {
        margin: 0;
    }
    .moreButton {
        margin: .5em;
    }
    h3 {
        font-size: 45px;
    }
}

@media (max-width: 699px) {

    .rightTopMain {
    grid-column: 1/-1;
    margin: 0;
    }

   h2 {
    display: absolute;
    margin: .5em auto 0 auto;   
    text-align: center;
    }

    .aboutParagraph {
        margin-left: 3em;
    }

    #firstAboutParagraph {
        margin-top: .5em;
    }
  .aboutParagraph {
      margin-left: 0;
      display: block;
      padding-left: 1em;
  }  
  .bottomMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgBox {
   padding: 1em;
   width: 100%;

}


}
